<mat-toolbar color="primary">
  <span>Auth Demo</span>
  <nav>
    <a
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="/login"
    ><mat-icon>login</mat-icon>
      Sign In</a>
    <a
      *ngIf="!isLoggedIn"
      mat-button
      routerLink="/register"
    ><mat-icon>person_add</mat-icon>
      Sign Up</a>
    <a
      *ngIf="isLoggedIn"
      mat-button
      routerLink="/profile"
    ><mat-icon>person</mat-icon>
      Profile</a>
    <a
      *ngIf="isLoggedIn"
      mat-button
      routerLink="/users"
    ><mat-icon>groups</mat-icon>
      Users</a>
  </nav>
</mat-toolbar>
